Repository spicelang/spice, pull requests merged in 2022-10, with the labels that each got.

#205 Update publish.yml
  .github/workflows/publish.yml
Labels: size/XS

#207 Fix import bug
  .github/workflows/ci-cpp.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  README.md
  dev-setup.bat
  dev-setup.sh
  docs/docs/language/arrays.md
  docs/docs/language/builtins.md
  docs/docs/language/data-types.md
  docs/docs/language/for-loops.md
  docs/docs/language/foreach-loops.md
  docs/docs/language/hello-world.md
  docs/docs/language/if-statements.md
  docs/docs/language/main-function.md
  docs/docs/language/modules.md
  docs/docs/language/while-loops.md
  media/specs/cli11-modifications.md
  media/specs/multithreading.md
  media/test-project/os-test.spice
  setup-libs.bat
  setup-libs.sh
  src/analyzer/AnalyzerVisitor.cpp
  src/ast/AstNodes.h
  src/cli/CliInterface.cpp
  src/dependency/SourceFile.cpp
  src/generator/GeneratorVisitor.cpp
  src/generator/OpRuleConversionsManager.h
  src/parser/AstBuilderVisitor.h
  src/symbol/Capture.cpp
  src/symbol/Capture.h
  src/symbol/Function.cpp
  src/symbol/Function.h
  src/symbol/Struct.cpp
  src/symbol/Struct.h
  src/symbol/SymbolTable.cpp
  src/symbol/SymbolTable.h
  src/symbol/SymbolTableEntry.cpp
  src/symbol/SymbolTableEntry.h
  src/symbol/SymbolType.cpp
  src/symbol/SymbolType.h
  test/test-files/std/data/combined-test-1/cout.out
  test/test-files/std/data/combined-test-1/disabled
  test/test-files/std/data/combined-test-1/ir-code-O2.ll
  test/test-files/std/data/combined-test-1/source.spice
Labels: bug, documentation, improvement, size/XXL, dependencies

#208 Fix #193
  media/specs/generics.md
  media/test-project/os-test.spice
  src/analyzer/AnalyzerVisitor.cpp
  src/ast/AstNodes.h
  src/generator/GeneratorVisitor.cpp
  src/symbol/Function.cpp
  src/symbol/Function.h
  src/symbol/SymbolTable.cpp
  src/symbol/SymbolTableEntry.cpp
  test/test-files/analyzer/functions/errror-function-param-dyn-sized/exception.out
  test/test-files/analyzer/functions/errror-function-param-dyn-sized/source.spice
Labels: bug, improvement, size/L

#209 Fix bugs and extend string runtime
  .github/workflows/ci-cpp.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  media/test-project/os-test.spice
  src/analyzer/AnalyzerVisitor.cpp
  src/analyzer/OpRuleManager.cpp
  src/generator/GeneratorVisitor.cpp
  src/generator/OpRuleConversionsManager.cpp
  src/generator/StdFunctionManager.cpp
  src/generator/StdFunctionManager.h
  src/symbol/Function.cpp
  src/symbol/Function.h
  src/symbol/Struct.cpp
  src/symbol/Struct.h
  std/net/http.spice
  std/net/socket_linux.spice
  std/runtime/string_rt.spice
  test/TestRunner.cpp
  test/TestUtil.cpp
  test/TestUtil.h
  test/test-files/std/examples/dijkstra/source.spice
  test/test-files/std/examples/graph-coloring/source.spice
  test/test-files/std/examples/sudoku/source.spice
  test/test-files/std/runtime/string-basic-operations/cout.out
  test/test-files/std/runtime/string-basic-operations/ir-code-O2.ll
  test/test-files/std/runtime/string-basic-operations/source.spice
  test/test-files/std/runtime/string-char-ctor/cout.out
  test/test-files/std/runtime/string-char-ctor/ir-code-O2.ll
  test/test-files/std/runtime/string-char-ctor/source.spice
  test/test-files/std/runtime/string-operators/cout.out
  test/test-files/std/runtime/string-operators/ir-code-O2.ll
  test/test-files/std/runtime/string-operators/source.spice
Labels: bug, enhancement, size/XL

#210 Allow immediate access to struct return values
  .github/workflows/ci-cpp.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .gitignore
  .run/Spice_run.run.xml
  .run/Spice_test.run.xml
  .run/spice.run.xml
  .run/spicetest.run.xml
  build.bat
  build.sh
  media/test-project/os-test.spice
  src/CMakeLists.txt
  src/analyzer/AnalyzerVisitor.cpp
  src/config.bff
  src/fbuild.bff
  src/generator/GeneratorVisitor.cpp
  src/generator/GeneratorVisitor.h
  src/symbol/SymbolTable.cpp
  test/CMakeLists.txt
  test/TestRunner.cpp
  test/test-files/generator/methods/success-method-call-on-return-value/cout.out
  test/test-files/generator/methods/success-method-call-on-return-value/ir-code.ll
  test/test-files/generator/methods/success-method-call-on-return-value/source.spice
  test/test-files/generator/structs/success-constructors/cout.out
  test/test-files/generator/structs/success-constructors/ir-code.ll
  test/test-files/generator/structs/success-constructors/source.spice
Labels: size/L

#211 Allow method calls on strings
  .github/workflows/publish.yml
  .gitignore
  .run/spicetest.run.xml
  dev-setup.bat
  dev-setup.sh
  media/test-project/os-test.spice
  src/CMakeLists.txt
  src/analyzer/AnalyzerVisitor.cpp
  src/analyzer/AnalyzerVisitor.h
  src/analyzer/PreAnalyzerVisitor.cpp
  src/dependency/RuntimeModuleManager.cpp
  src/dependency/RuntimeModuleManager.h
  src/dependency/SourceFile.cpp
  src/dependency/SourceFile.h
  src/generator/GeneratorVisitor.cpp
  src/generator/GeneratorVisitor.h
  src/generator/OpRuleConversionsManager.h
  src/generator/StdFunctionManager.cpp
  src/generator/StdFunctionManager.h
  src/main.cpp
  std/runtime/string_rt.spice
  test/TestRunner.cpp
  test/test-files/generator/arbitrary/success-faculty/ir-code.ll
  test/test-files/generator/arrays/success-arrays-dynamic-size/ir-code.ll
  test/test-files/generator/arrays/success-arrays/ir-code.ll
  test/test-files/generator/arrays/success-arrays2/ir-code.ll
  test/test-files/generator/arrays/success-arrays4/ir-code.ll
  test/test-files/generator/arrays/success-string-char-access/ir-code.ll
  test/test-files/generator/builtins/success-len/ir-code.ll
  test/test-files/generator/foreach-loops/success-foreach-loop-break/ir-code.ll
  test/test-files/generator/foreach-loops/success-foreach-loop-continue/ir-code.ll
  test/test-files/generator/foreach-loops/success-foreach-loop-indexed-modified/ir-code.ll
  test/test-files/generator/foreach-loops/success-foreach-loop-indexed/ir-code.ll
  test/test-files/generator/foreach-loops/success-foreach-loop-normal/ir-code.ll
  test/test-files/generator/functions/success-default-arg-value-expressions/ir-code.ll
  test/test-files/generator/functions/success-down-call/ir-code.ll
  test/test-files/generator/functions/success-overloading/ir-code.ll
  test/test-files/generator/functions/success-result-variable/ir-code.ll
  test/test-files/generator/generics/success-generic-functions2/ir-code.ll
  test/test-files/generator/if-stmts/success-if-stmt/ir-code.ll
  test/test-files/generator/imports/success-modules/ir-code.ll
  test/test-files/generator/pointers/success-nested-pointers/ir-code.ll
  test/test-files/generator/pointers/success-pointer/ir-code.ll
  test/test-files/generator/structs/success-struct-in-place/ir-code.ll
  test/test-files/generator/structs/success-struct-self-ref/ir-code.ll
  test/test-files/generator/ternary/success-ternary-stmt/ir-code.ll
  test/test-files/generator/unsafe/success-pointer-cast/ir-code.ll
  test/test-files/std/runtime/string-basic-methods/cout.out
  test/test-files/std/runtime/string-basic-methods/ir-code-O2.ll
  test/test-files/std/runtime/string-basic-methods/source.spice
  test/test-files/std/runtime/string-basic-operations/cout.out
  test/test-files/std/runtime/string-char-ctor/cout.out
Labels: size/XXL

#214 Add more string methods
  media/test-project/os-test.spice
  src/analyzer/AnalyzerVisitor.cpp
  src/generator/OpRuleConversionsManager.cpp
  std/data/doubly-linked-list.spice
  std/data/linked-list.spice
  std/data/queue.spice
  std/data/stack.spice
  std/data/vector.spice
  std/runtime/string_rt.spice
  test/test-files/analyzer/builtins/error-printf-wrong-type1/exception.out
  test/test-files/analyzer/builtins/error-printf-wrong-type3/exception.out
  test/test-files/analyzer/builtins/error-printf-wrong-type4/exception.out
  test/test-files/analyzer/coming-soon/error-coming-soon1/disabled
  test/test-files/analyzer/generics/error-generic-type-check/exception.out
  test/test-files/std/runtime/string-basic-methods/cout.out
  test/test-files/std/runtime/string-basic-methods/ir-code-O2.ll
  test/test-files/std/runtime/string-basic-methods/source.spice
Labels: enhancement, size/L

#217 Add compile cache machanism
  media/test-project/os-test.spice
  src-bootstrap/CliInterface.spice
  src/CMakeLists.txt
  src/analyzer/AnalyzerVisitor.cpp
  src/analyzer/AnalyzerVisitor.h
  src/cli/CliInterface.cpp
  src/cli/CliInterface.h
  src/dependency/CacheManager.cpp
  src/dependency/CacheManager.h
  src/dependency/GlobalResourceManager.h
  src/dependency/SourceFile.cpp
  src/dependency/SourceFile.h
  src/generator/GeneratorVisitor.cpp
  src/generator/GeneratorVisitor.h
  src/generator/OpRuleConversionsManager.cpp
  src/generator/OpRuleConversionsManager.h
  src/generator/StdFunctionManager.cpp
  src/generator/StdFunctionManager.h
  src/linker/LinkerInterface.cpp
  src/linker/LinkerInterface.h
  src/main.cpp
  src/symbol/Function.cpp
  src/symbol/Function.h
  src/symbol/GenericType.cpp
  src/symbol/GenericType.h
  src/symbol/Struct.cpp
  src/symbol/Struct.h
  src/symbol/SymbolSpecifiers.h
  src/symbol/SymbolTable.cpp
  src/symbol/SymbolTable.h
  src/symbol/SymbolTableEntry.cpp
  src/symbol/SymbolTableEntry.h
  src/symbol/SymbolType.cpp
  src/symbol/SymbolType.h
  std/text/format.spice
  std/text/replace.spice
  std/text/substring.spice
  test/TestRunner.cpp
Labels: enhancement, improvement, size/XXL

#218 Add basic support for interfaces
  media/specs/interfaces.md
  media/test-project/os-test.spice
  src-bootstrap/ast/AbstractAstVisitor.spice
  src-bootstrap/ast/AstNodes.spice
  src/CMakeLists.txt
  src/Spice.g4
  src/analyzer/AnalyzerVisitor.cpp
  src/analyzer/AnalyzerVisitor.h
  src/ast/AbstractAstVisitor.cpp
  src/ast/AbstractAstVisitor.h
  src/ast/AstNodes.h
  src/ast/AstVisitor.cpp
  src/ast/AstVisitor.h
  src/exception/SemanticError.cpp
  src/exception/SemanticError.h
  src/generator/GeneratorVisitor.cpp
  src/generator/GeneratorVisitor.h
  src/parser/AstBuilderVisitor.cpp
  src/parser/AstBuilderVisitor.h
  src/symbol/Function.h
  src/symbol/Interface.cpp
  src/symbol/Interface.h
  src/symbol/Struct.cpp
  src/symbol/Struct.h
  src/symbol/SymbolSpecifiers.cpp
  src/symbol/SymbolSpecifiers.h
  src/symbol/SymbolTable.cpp
  src/symbol/SymbolTable.h
  src/symbol/SymbolType.cpp
  src/symbol/SymbolType.h
  src/util/CompilerWarning.cpp
  src/util/CompilerWarning.h
  src/visualizer/ASTVisualizerVisitor.h
  src/visualizer/CSTVisualizerVisitor.h
  test/test-files/analyzer/coming-soon/error-coming-soon1/disabled
  test/test-files/analyzer/coming-soon/error-coming-soon1/exception.out
  test/test-files/analyzer/coming-soon/error-coming-soon1/source.spice
  test/test-files/analyzer/interfaces/error-duplicate-interface-def/exception.out
  test/test-files/analyzer/interfaces/error-duplicate-interface-def/source.spice
  test/test-files/analyzer/interfaces/error-interface-ref-template-list/exception.out
  test/test-files/analyzer/interfaces/error-interface-ref-template-list/source.spice
  test/test-files/analyzer/interfaces/error-struct-interface-method-not-found/exception.out
  test/test-files/analyzer/interfaces/error-struct-interface-method-not-found/source.spice
  test/test-files/analyzer/warnings/warning-unused-interface/source.spice
  test/test-files/analyzer/warnings/warning-unused-interface/warning.out
  test/test-files/analyzer/warnings/warning-unused-struct/warning.out
  test/test-files/analyzer/warnings/warning-unused-var/warning.out
Labels: bug, enhancement, improvement, size/XL

#219 [bootstrap] Extend bootstrapped compiler
  .run/spice.run.xml
  media/test-project/os-test.spice
  src-bootstrap/ast/AstNodes.spice
  src-bootstrap/exception/CliError.spice
  src-bootstrap/exception/IRError.spice
  src-bootstrap/exception/LexerError.spice
  src-bootstrap/exception/LinkerError.spice
  src-bootstrap/exception/ParserError.spice
  src-bootstrap/exception/SemanticError.spice
  src-bootstrap/symbol/SymbolTable.spice
  src-bootstrap/symbol/SymbolTableEntry.spice
  src-bootstrap/symbol/SymbolType.spice
  src-bootstrap/util/CodeLoc.spice
  src-bootstrap/util/CompilerWarning.spice
  src-bootstrap/util/FileUtil.spice
  src-bootstrap/util/ThreadFactory.spice
  src/Spice.g4
  src/analyzer/AnalyzerVisitor.cpp
  src/analyzer/OpRuleManager.h
  src/generator/OpRuleConversionsManager.cpp
  src/generator/StdFunctionManager.cpp
  src/generator/StdFunctionManager.h
  src/symbol/SymbolTable.cpp
  src/symbol/SymbolTable.h
  std/runtime/string_rt.spice
  std/type/any.spice
  std/type/byte.spice
  std/type/char.spice
  std/type/double.spice
  std/type/int.spice
  std/type/long.spice
  std/type/short.spice
  std/type/string.spice
  test/test-files/std/runtime/string-operators/ir-code-O2.ll
  test/test-files/std/runtime/string-operators/ir-code.ll
  test/test-files/std/type/bool-type-functions/cout.out
  test/test-files/std/type/bool-type-functions/source.spice
  test/test-files/std/type/byte-type-functions/cout.out
  test/test-files/std/type/byte-type-functions/source.spice
  test/test-files/std/type/char-type-functions/cout.out
  test/test-files/std/type/char-type-functions/source.spice
  test/test-files/std/type/double-type-functions/cout.out
  test/test-files/std/type/double-type-functions/source.spice
  test/test-files/std/type/int-type-functions/cout.out
  test/test-files/std/type/int-type-functions/source.spice
  test/test-files/std/type/long-type-functions/cout.out
  test/test-files/std/type/long-type-functions/source.spice
  test/test-files/std/type/short-type-functions/cout.out
  test/test-files/std/type/short-type-functions/source.spice
  test/test-files/std/type/string-type-functions/cout.out
  test/test-files/std/type/string-type-functions/source.spice
Labels: bug, enhancement, improvement, size/XXL
