Repository spicelang/spice, pull requests merged in 2022-08, with the labels that each got.

#183 Bin, oct and hex literals
  .run/Spice_run.run.xml
  docs/docs/language/number-formats.md
  docs/mkdocs.yml
  media/test-project/os-test.spice
  src/Spice.g4
  src/parser/AstBuilderVisitor.cpp
  src/parser/AstBuilderVisitor.h
  std/io/dir_linux.spice
  std/io/dir_windows.spice
  std/io/file_linux.spice
  std/io/file_windows.spice
Labels: enhancement, size/L

#186 Docs for destructors
  docs/docs/language/constructors-destructors.md
Labels: documentation, size/S

#187 Semantic checks for dtors
  media/test-project/os-test.spice
  src/analyzer/AnalyzerVisitor.cpp
  src/exception/SemanticError.cpp
  src/exception/SemanticError.h
  test/test-files/analyzer/methods/error-destructor-is-function/exception.out
  test/test-files/analyzer/methods/error-destructor-is-function/source.spice
  test/test-files/analyzer/methods/error-destructor-with-args/exception.out
  test/test-files/analyzer/methods/error-destructor-with-args/source.spice
Labels: improvement, test, size/M

#165 Publish to Windows Package Managar (WinGet)
  .github/workflows/publish.yml
Labels: size/XS

#188 Add error messages for out of range numeric literals
  media/test-project/os-test.spice
  src/exception/AntlrThrowingErrorListener.cpp
  src/exception/ErrorFactory.cpp
  src/exception/ErrorFactory.h
  src/exception/LexerParserError.cpp
  src/exception/LexerParserError.h
  src/exception/SemanticError.h
  src/parser/AstBuilderVisitor.cpp
  src/parser/AstBuilderVisitor.h
  test/test-files/analyzer/lexer/error-lexing-error/exception.out
  test/test-files/analyzer/parser/error-int-out-of-range/exception.out
  test/test-files/analyzer/parser/error-int-out-of-range/source.spice
  test/test-files/analyzer/parser/error-parsing-error/exception.out
  test/test-files/analyzer/threads/error-invalid-tid/exception.out
Labels: bug, improvement, size/L

#189 Distinguish between member and scope access operators
  docs/docs/language/operator-precedence.md
  media/test-project/os-test.spice
  src/Spice.g4
  src/analyzer/AnalyzerVisitor.cpp
  src/ast/AstNodes.h
  src/exception/SemanticError.cpp
  src/exception/SemanticError.h
  src/generator/GeneratorVisitor.cpp
  src/parser/AstBuilderVisitor.cpp
  std/builtin/builtin.spice
  std/type/int.spice
  test/test-files/analyzer/generics/error-generic-function-not-found/source.spice
  test/test-files/analyzer/imports/error-insufficient-global-var-visibility/exception.out
  test/test-files/analyzer/imports/error-insufficient-global-var-visibility/source.spice
  test/test-files/analyzer/imports/error-insufficient-struct-visibility/source.spice
  test/test-files/analyzer/operators/error-member-access-only-struct/exception.out
  test/test-files/analyzer/operators/error-member-access-only-struct/source.spice
  test/test-files/analyzer/operators/error-scope-access-only-import/exception.out
  test/test-files/analyzer/operators/error-scope-access-only-import/source.spice
  test/test-files/generator/structs/success-external-nested-struct/source.spice
  test/test-files/generator/structs/success-external-structs/source.spice
  test/test-files/generator/variables/success-external-global-var/source.spice
  test/test-files/std/data/combined-test-1/source.spice
  test/test-files/std/data/pair-normal-usecase/source.spice
  test/test-files/std/data/queue-normal-usecase/source.spice
  test/test-files/std/data/stack-normal-usecase/source.spice
  test/test-files/std/data/triple-normal-usecase/source.spice
  test/test-files/std/data/vector-normal-usecase/source.spice
  test/test-files/std/io/mkdir-rmdir-direxists/source.spice
  test/test-files/std/os/os-name/source.spice
Labels: enhancement, improvement, size/L

#190 Fix negative int out of range
  media/test-project/os-test.spice
  src/Spice.g4
  src/analyzer/AnalyzerVisitor.cpp
  src/ast/AstNodes.h
  src/generator/GeneratorVisitor.cpp
  src/generator/GeneratorVisitor.h
  src/parser/AstBuilderVisitor.cpp
  src/util/CompilerWarning.cpp
  src/util/CompilerWarning.h
  test/test-files/analyzer/variables/error-global-var-different-type-assign/exception.out
  test/test-files/generator/builtins/success-sizeof/ir-code.ll
  test/test-files/generator/foreach-loops/success-foreach-loop-break/ir-code.ll
  test/test-files/generator/foreach-loops/success-foreach-loop-break/source.spice
  test/test-files/generator/foreach-loops/success-foreach-loop-continue/ir-code.ll
Labels: bug, improvement, size/L

#192 Add basic array out of bounds check
  media/test-project/os-test.spice
  src/analyzer/AnalyzerVisitor.cpp
  src/ast/AstNodes.h
  src/exception/SemanticError.cpp
  src/exception/SemanticError.h
  src/generator/GeneratorVisitor.cpp
  src/parser/AstBuilderVisitor.cpp
  test/test-files/analyzer/arrays/error-out-of-bounds/exception.out
  test/test-files/analyzer/arrays/error-out-of-bounds/source.spice
Labels: enhancement, size/L

#194 Extend std & fix bugs
  .github/workflows/ci-cpp.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  dev-setup.bat
  dev-setup.sh
  media/test-project/os-test.spice
  src/analyzer/AnalyzerVisitor.cpp
  src/dependency/SourceFile.cpp
  src/exception/AntlrThrowingErrorListener.cpp
  src/parser/AstBuilderVisitor.cpp
  src/symbol/SymbolTable.cpp
  src/symbol/SymbolTable.h
  src/symbol/SymbolTableEntry.cpp
  src/symbol/SymbolTableEntry.h
  src/util/CodeLoc.cpp
  src/util/CodeLoc.h
  std/net/http.spice
  std/net/socket_linux.spice
  std/net/socket_windows.spice
  test/test-files/analyzer/lexer/error-lexing-error/exception.out
  test/test-files/analyzer/parser/error-parsing-error/exception.out
  test/test-files/analyzer/threads/error-invalid-tid/exception.out
  test/test-files/generator/structs/success-struct-in-place/cout.out
  test/test-files/generator/structs/success-struct-in-place/disabled
  test/test-files/generator/structs/success-struct-in-place/ir-code.ll
  test/test-files/std/examples/game-of-life/cout.out
  test/test-files/std/examples/game-of-life/source.spice
  test/test-files/std/examples/graph-coloring/cout.out
  test/test-files/std/examples/graph-coloring/source.spice
  test/test-files/std/examples/rule-110/cout.out
  test/test-files/std/examples/rule-110/source.spice
  test/test-files/std/examples/sudoku/cout.out
  test/test-files/std/examples/sudoku/source.spice
Labels: bug, enhancement, improvement, size/XXL

#195 Extend elvis operator
  media/test-project/os-test.spice
  src/Spice.g4
  src/analyzer/AnalyzerVisitor.cpp
  src/ast/AstNodes.h
  src/generator/GeneratorVisitor.cpp
  src/parser/AstBuilderVisitor.cpp
  test/test-files/generator/ternary/success-shortened-ternary/cout.out
  test/test-files/generator/ternary/success-shortened-ternary/ir-code.ll
  test/test-files/generator/ternary/success-shortened-ternary/source.spice
Labels: enhancement, size/L

#197 Add support for enums
  docs/docs/language/enums.md
  docs/mkdocs.yml
  media/test-project/os-test.spice
  src/Spice.g4
  src/analyzer/AnalyzerVisitor.cpp
  src/analyzer/AnalyzerVisitor.h
  src/analyzer/PreAnalyzerVisitor.cpp
  src/ast/AbstractAstVisitor.h
  src/ast/AstNodes.h
  src/ast/AstVisitor.cpp
  src/ast/AstVisitor.h
  src/dependency/SourceFile.cpp
  src/dependency/SourceFile.h
  src/exception/SemanticError.cpp
  src/exception/SemanticError.h
  src/generator/GeneratorVisitor.cpp
  src/parser/AstBuilderVisitor.cpp
  src/parser/AstBuilderVisitor.h
  src/symbol/Function.cpp
  src/symbol/Function.h
  src/symbol/Struct.cpp
  src/symbol/Struct.h
  src/symbol/SymbolSpecifiers.cpp
  src/symbol/SymbolSpecifiers.h
  src/symbol/SymbolTable.cpp
  src/symbol/SymbolTable.h
  src/symbol/SymbolTableEntry.cpp
  src/symbol/SymbolTableEntry.h
  src/symbol/SymbolType.cpp
  src/symbol/SymbolType.h
  src/visualizer/ASTVisualizerVisitor.h
  src/visualizer/CSTVisualizerVisitor.h
  test/AnalyzerTest.cpp
  test/GeneratorTest.cpp
  test/test-files/analyzer/enums/error-duplicate-item-name/exception.out
  test/test-files/analyzer/enums/error-duplicate-item-name/source.spice
  test/test-files/analyzer/enums/error-duplicate-item-value/exception.out
  test/test-files/analyzer/enums/error-duplicate-item-value/source.spice
  test/test-files/generator/enums/success-enums/cout.out
  test/test-files/generator/enums/success-enums/ir-code.ll
  test/test-files/generator/enums/success-enums/source.spice
Labels: documentation, enhancement, size/XL
